<!DOCTYPE html>

<html lang="en">

	<!-- begin::Head -->
	<head>
		<base href="../../">
		<meta charset="utf-8" />
		<title>Validation Results</title>
		<meta name="description" content="List widget examples">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--begin::Fonts -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">

		<!--end::Fonts -->

		<!--begin::Global Theme Styles(used by all pages) -->
		<link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

		<!--end::Global Theme Styles -->

		<!--begin::Layout Skins(used by all pages) -->

		<!--end::Layout Skins -->
		<link rel="shortcut icon" href="assets/media/logos/favicon.png" />
	</head>

	<!-- end::Head -->

	<!-- begin::Body -->
	<body class="kt-page--loading-enabled kt-page--loading kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--left kt-aside--fixed kt-page--loading">

		<div class="kt-grid kt-grid--hor kt-grid--root">
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
				<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

					<!-- begin:: Header -->
					<div id="kt_header" class="kt-header  kt-header--fixed " data-ktheader-minimize="on">
						<div class="kt-container  kt-container--fluid ">

							<!-- begin: Header Menu -->
							<button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
							<div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_header_menu_wrapper">
								<div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
									<ul class="kt-menu__nav ">
										<li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text kt-font-info">Dashboard</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
											<div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
												<ul class="kt-menu__subnav">
													<li class="kt-menu__item " aria-haspopup="true"><a href="index.html" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text kt-font-info">Default Dashboard</span></a></li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
							</div>

							<!-- end: Header Menu -->

							<!-- begin:: Brand -->
							<div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
								<a class="kt-header__brand-logo" href="?page=index">
									<img alt="Logo" src="assets/media/logos/logo.png" />
								</a>
							</div>
							<!-- end:: Brand -->

							<!-- begin:: Header Topbar -->
							<div class="kt-header__topbar kt-grid__item">

								<!--begin: Search -->
								<!--end: Search -->

								<!--begin: Notifications -->
								<!--end: Notifications -->

								<!--begin: Quick actions -->
								<!--end: Quick actions -->

								<!--begin: Cart -->
								<!--end: Cart -->

								<!--begin: Language bar -->
								<!--end: Language bar -->

								<!--begin: User bar -->
								<!--end: User bar -->

								<!--begin: Quick panel toggler -->
								<!--end: Quick panel toggler -->
							</div>

							<!-- end:: Header Topbar -->
						</div>
					</div>

					<!-- end:: Header -->

					<!-- begin:: Aside -->
					<!-- end:: Aside -->

					<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
						<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

							<!-- begin:: Subheader -->
							<div class="kt-subheader   kt-grid__item" id="kt_subheader">
								<div class="kt-container ">
									<div class="kt-subheader__main">
										<h3 class="kt-subheader__title">
											Validation Results </h3>
										<span class="kt-subheader__separator kt-hidden"></span>
										<div class="kt-subheader__breadcrumbs">
											<a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
											<span class="kt-subheader__breadcrumbs-separator"></span>
											<a href="" class="kt-subheader__breadcrumbs-link">
												Results </a>
											<span class="kt-subheader__breadcrumbs-separator"></span>
											<!-- <a href="" class="kt-subheader__breadcrumbs-link">
												Widgets </a>
											<span class="kt-subheader__breadcrumbs-separator"></span>
											<a href="" class="kt-subheader__breadcrumbs-link">
												Lists </a> -->

											<!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
										</div>
									</div>
									
								</div>
							</div>

							<!-- end:: Subheader -->

							<!-- begin:: Content -->
							<div class="kt-container  kt-grid__item kt-grid__item--fluid">

								<!--Begin::Section-->
								<div class="kt-portlet">
									<div class="kt-portlet__body kt-portlet__body--fit">
										<div class="row row-no-padding row-col-separator-xl">
											<div class="col-md-12 col-lg-12 col-xl-4">

												<!--begin:: Widgets/Stats2-1 -->
												<div class="kt-widget1">
													<div class="kt-widget1__item">
														<div class="kt-widget1__info">
															<h3 class="kt-widget1__title">Company Name</h3>
														</div>
														<span class="kt-widget1__number kt-font-info" id="company_name"></span>
													</div>
													<div class="kt-widget1__item">
														<div class="kt-widget1__info">
															<h3 class="kt-widget1__title">OperName</h3>
														</div>
														<span class="kt-widget1__number kt-font-warning" id="oper_name"></span>
													</div>
													<div class="kt-widget1__item">
														<div class="kt-widget1__info">
															<h3 class="kt-widget1__title">Company No</h3>
															<span class="kt-widget1__desc"></span>
														</div>
														<span class="kt-widget1__number kt-font-success" id="company_no"></span>
													</div>
													<div class="kt-widget1__item">
														<div class="kt-widget1__info">
															<h3 class="kt-widget1__title">CreditCode</h3>
															<span class="kt-widget1__desc"></span>
														</div>
														<span class="kt-widget1__number kt-font-info" id="credit_code" style="font-size: 15px;"></span>
													</div>
												</div>

												<!--end:: Widgets/Stats2-1 -->
											</div>
											<div class="col-md-12 col-lg-12 col-xl-4">

												<!--begin:: Widgets/Stats2-2 -->
												<div class="kt-widget1">
													<div class="kt-widget1__item">
														<div class="kt-widget1__info">
															<h3 class="kt-widget1__title">EcoKind</h3>
														</div>
														<span class="kt-widget1__number kt-font-success" id="eco_kind"></span>
													</div>
													<div class="kt-widget1__item">
														<div class="kt-widget1__info">
															<h3 class="kt-widget1__title">Status</h3>
														</div>
														<span class="kt-widget1__number kt-font-info" id="company_status"></span>
													</div>
													<div class="kt-widget1__item">
														<div class="kt-widget1__info">
															<h3 class="kt-widget1__title">KeyNo</h3>
														</div>
														<span class="kt-widget1__number kt-font-success" id="key_no" style="font-size: 15px;"></span>
													</div>
												</div>

												<!--end:: Widgets/Stats2-2 -->
											</div>
											<div class="col-md-12 col-lg-12 col-xl-4">

												<!--begin:: Widgets/Stats2-3 -->
												<div class="kt-widget1">
													<div class="kt-widget1__item">
														<div class="kt-widget1__info">
															<h3 class="kt-widget1__title">StartDate</h3>
														</div>
														<span class="kt-widget1__number kt-font-success" id="start_date" style="font-size: 15px;"></span>
													</div>
													<div class="kt-widget1__item">
														<div class="kt-widget1__info">
															<h3 class="kt-widget1__title">Address</h3>
														</div>
														<span class="kt-widget1__number kt-font-warning" id="company_address" style="font-size: 14px;"></span>
													</div>
													<div class="kt-widget1__item">
														<div class="kt-widget1__info">
															<h3 class="kt-widget1__title">Tel</h3>
														</div>
														<span class="kt-widget1__number kt-font-info" id="company_tel"></span>
													</div>
												</div>

												<!--end:: Widgets/Stats2-3 -->
											</div>
										</div>
									</div>
								</div>

								<!--End::Section-->

								<!--Begin::Section-->
								<div class="row">
									
									<div class="col-xl-4">

										<!--begin:: Widgets/Support Tickets -->
										<div class="kt-portlet kt-portlet--height-fluid">
											<div class="kt-portlet__head">
												<div class="kt-portlet__head-label">
													<h3 class="kt-portlet__head-title">
														APList
													</h3>
												</div>
												<div class="kt-portlet__head-toolbar">
													<span class="kt-widget3__info">
														Total Count : 
													</span>
													&nbsp;
													<span class="kt-widget3__status kt-font-danger" id="AP_total_count"></span>
												</div>
											</div>
											<div class="kt-portlet__body" id="APList_div">
												<div class="kt-widget3 case-reason-block">
													<div class="kt-widget3__item">
														<div class="kt-widget3__header">
															<div class="kt-widget3__info">
																<span class="kt-widget3__status kt-font-info case-no"> </span>
															</div>
														</div>
														<div class="kt-widget3__body">
															<p class="kt-widget3__text case-reason">
															</p>
														</div>
													</div>
												</div>
												
											</div>
										</div>

										<!--end:: Widgets/Support Tickets -->
									</div>

									
								</div>

								<!--End::Section-->

							</div>

							<!-- end:: Content -->
						</div>
					</div>

					<!-- begin:: Footer -->
					<div class="kt-footer kt-grid__item" id="kt_footer">
						<div class="kt-container ">
							<div class="kt-footer__wrapper">
								<div class="kt-footer__copyright">
									2020&nbsp;&copy;&nbsp;<a href="http://keenthemes.com/metronic" target="_blank" class="kt-link">Keenthemes</a>
								</div>
								<div class="kt-footer__menu">
									<a href="http://keenthemes.com/metronic" target="_blank" class="kt-link">About</a>
									<a href="http://keenthemes.com/metronic" target="_blank" class="kt-link">Team</a>
									<a href="http://keenthemes.com/metronic" target="_blank" class="kt-link">Contact</a>
								</div>
							</div>
						</div>
					</div>

					<!-- end:: Footer -->
				</div>
			</div>
		</div>

		<!-- end:: Page -->

		<!-- begin::Quick Panel -->

		<!-- end::Quick Panel -->

		<!-- begin::Scrolltop -->
		<div id="kt_scrolltop" class="kt-scrolltop">
			<i class="fa fa-arrow-up"></i>
		</div>

		<!-- end::Scrolltop -->

		<!-- begin::Sticky Toolbar -->

		<!-- end::Sticky Toolbar -->

		<!-- begin::Demo Panel -->

		<!-- end::Demo Panel -->

		<!--Begin:: Chat-->

		<!--ENd:: Chat-->

		<!-- begin::Global Config(global config for global JS sciprts) -->
		<script>
			var KTAppOptions = {
				"colors": {
					"state": {
						"brand": "#591df1",
						"light": "#ffffff",
						"dark": "#282a3c",
						"primary": "#5867dd",
						"success": "#34bfa3",
						"info": "#36a3f7",
						"warning": "#ffb822",
						"danger": "#fd3995"
					},
					"base": {
						"label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
						"shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
					}
				}
			};
		</script>

		<!-- end::Global Config -->

		<!--begin::Global Theme Bundle(used by all pages) -->
		<script src="assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
		<script src="assets/js/scripts.bundle.js" type="text/javascript"></script>

		<!--end::Global Theme Bundle -->

		<!--begin::Page Scripts(used by this page) -->
		<script src="assets/js/pages/dashboard.js" type="text/javascript"></script>

		<script src="assets/js/pages/second-page.js" type="text/javascript"></script>

		<!--end::Page Scripts -->
	</body>

	<!-- end::Body -->
</html>